@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/gilroy/Radomir\ Tinkov\ -\ Gilroy-Light.otf');
}

@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir/AvenirLTStd-Book.otf');
}

* {
    font-family: 'Avenir';
}