@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/gilroy/Radomir\ Tinkov\ -\ Gilroy-Light.otf');
}

@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir/AvenirLTStd-Book.otf');
}

html {
    background-color: #080F24;
}

* {
    font-family: 'Avenir';
    margin: 0;
    box-sizing: border-box;
    color: white;
}